@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    background: url('../img/background.svg') no-repeat fixed;
    background-size: cover;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #ECEFF4;
    border: none;
    border-radius: 10px;
}

button:focus {
    outline: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.display-none {
     display: none;
 }

 .opacity-0 {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.opacity-1 {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.emphasis {
    font-weight: 500;
    color: #88C0D0;
}

#page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    max-width: 720px;
    padding: 100px 0 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

#calculator {
    width: 340px;
    background-color: #D8DEE9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#displays-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #3B4252;
    color: #ECEFF4;
}

.display {
    overflow: hidden;
    white-space: nowrap;
}

#bottom-row {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: #D8DEE9;
    font-size: 20px;
}

#input-display {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-overflow: clip;
    font-size: 32px
}

#running-display {
    text-overflow: ellipsis;
}

.division-by-zero,
.status-off {
    color: #BF616A;
}

.status-on {
    color: #8FBCBB;
}

button#toggle-history {
    flex: none;
    border: inherit;
    width: 30px;
    height: 30px;
    border-radius: 33%;
    background: url('../img/hist-0.png') #4C566A;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    color: inherit;
}

button#toggle-history.history-active {
    background: url('../img/hist-1.png') #D8DEE9;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
}

#buttons-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 32px;
}

#buttons-container > button {
    width: 69px;
    min-height: 60px;
    transition: all 0.1s ease;
}

#buttons-container button:active {
    font-size: 0.8em;
    border-radius: 20px;
    transition: all 0.1s ease;
    filter: brightness(0.75);
}

#buttons-container button.brightness-up {
    color: #3B4252;
    filter: brightness(1.08);
}

button.number {
    font-size: 0.95em;
    background-color: #5E81AC; 
}

button.operator {
    font-size: 1em;
    /* color: #2E3440; */
    background: #88C0D0;
}

button.tools {
    font-size: 0.95em;
    background-color: #81A1C1;
}

#live-results {
    background: url('../img/lightbulb.png') #81A1C1;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 50%;
}

#live-results.live-active {
    background: url('../img/lightbulb-filled.png') #81A1C1;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 50%;
}

button#equals {
    min-width: 146px;
    font-size: 1em;
    background-color: #8FBCBB;
}

#backspace span.keyboard-input {
    padding: 10px;
    font-size: 15px;
}

#clear span.keyboard-input {
    font-size: 24px;
}

#equals span.keyboard-input {
    font-size: 20px;
}

#live-results.no-icon,
#live-result.live-active.no-icon {
    background-image: none;
}

#history-panel {
    align-self: center;
    width: 300px;
    height: 440px;
    padding: 15px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #D8DEE9;
    color: #4C566A;
    font-size: 22px;
}


#history-message {
    margin: auto;
    font-weight: 300;
    text-align: center;
}

#history-panel > button {
    width: 50%;
    padding: 10px;
    background-color: #81A1C1;
    color: #E5E9F0;
    font-size: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#history-panel > button:active {
    filter: brightness(0.75);
}

#history-panel > ul {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#history-panel > ul::-webkit-scrollbar {
    display: none;
}

#history-panel li {
    width: 260px;
    margin-top: 10px;
    transition: 0.5s;
    padding: 7.5px 10px;
    border: 1px solid #3B4252;
    border-radius: 10px;
}

#history-panel li > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#history-panel div.calc-item {
    font-size: 14px;
    color: #4C566A;
}

#history-panel div.result-item {
    font-size: 20px;
    color: #2E3440;
}

#history-panel li:hover {
    background-color: #3B4252;
    transition: all 0.5s ease;
}

#history-panel li:hover div:first-child {
    color: #ECEFF4;
}

#history-panel li:hover div:nth-child(2) {
    color: #D8DEE9;
}

#history-panel li:active {
    background-color: #4C566A;
    transition: all 0.01s ease;
}

#help-container {
    max-width: 340px;
    max-height: fit-content;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: rgba(76, 86, 106, 0.8);
    font-size: 18px;
    font-weight: 300;
    color: #ECEFF4;
}

#help-button {
    width: 36px;
    height: 36px;
    background: url('../img/help-btn.png') #88C0D0;
    background-position: 50%;
    background-size: 24px;
    background-repeat: no-repeat;
    border-radius: 12px;
    transition: background-color 0.1s ease;
}

#help-button:hover,
#help-button:active {
    background: url('../img/close-btn.png')  #BF616A;
    background-position: 50%;
    background-size: 24px;
    background-repeat: no-repeat;
    transition: background-color 0.1s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    margin-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ECEFF4;
}

footer div {
    background-color: rgba(76, 86, 106, 0.4);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}